.cell {
  float: left;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.light-color {
  background-color: wheat;
}

.dark-color {
  background-color: black;
}

.highlight {
  background-color: cadetblue !important;
}
