.home-container {
  height: 100%;
  .board-row,
  .wizard-row {
    height: 100%;
    padding: 10px;
    .show-button {
      margin-top: 10px;
    }
    .col-12 {
      margin: auto;
    }
    .col {
      margin: auto;
    }
  }
  .fade-enter {
    opacity: 0.01;
  }

  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .fade-leave {
    opacity: 1;
    display: none;
  }

  .fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
